@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:#22486B;
    margin:0;
    background-image:url("img/cta.png");
}
* {
    margin:0;
    font-family:'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color:#CB13A8;
    margin-bottom:10px;
    text-shadow:0 3px rgba(203, 19, 168, 0.25);
}
.Header {
    width:100%;
    padding:50px 10%;
    box-sizing:border-box;
    text-align:center;
    background-size:cover;
    background-position:bottom;
    background-image:url("img/header-bg.png");
}
.Header p {
    color:white;
    font-weight:550;
}
.Header h1 {
    color:white;
}
.Content {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:min(1200px,90%);
    box-sizing:border-box;
}
.Box {
    padding:30px;
    width:100%;
    border-radius:10px;
    box-sizing:border-box;
    background-color:white;
}
.References p {
    margin-bottom:2em;
    word-break:break-word;
    text-indent:-8em;
    margin-left:8em;
}